@{
    ViewBag.Title = "Main Page";    
}

@model TwitterProxy.Models.TwitterRequest

<script>
   
    function SearchTweet() {
        var query = $("#query").val();
        if (query == null)
        {
            alert("input field is required!");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/Home/Twitter/",
            data: {
                HashTag: query,
                Limit: 10
            },
            success: function (viewHTML) {
                $("#tweets").html(viewHTML);
            },
            error: function (errorData) { onError(errorData); }
        });
    }
</script>

    <h3 class="text-center h3">Tweet searcher</h3>
    <div id="form" class="form-inline text-center">
      
       
        @Html.TextBoxFor(dto => dto.HashTag, new { id="query", @class = "form-control" })
      
        <button id="submit" onclick="SearchTweet()" class="btn btn-success">Search</button>
    </div>
    @Html.ValidationSummary()

<div style="margin-top:5%" id="tweets">
   
</div>


